@{
    ViewData["Title"] = "Вступ";
}

<div class="page-title">
	<img src="/img/asp.net.png" alt="ASP logo"></img>
    <h1 class="display-4">Вступ. Перший проєкт.</h1>
</div>

<pre>
ASP.NET
Active Server Pages
Фреймворк .NET призначений для веб-проєктів

Клієнт-серверна технологія
	це технологія, за якою в інформаційному обміні беруть участь две програми:
	клієнт - той, хто надсилає запит
	сервер - той, зто очікує, приймає та оброблює запит
	у даному сенсі клієнт та сервер - це ролі, що їх гра.ть програми.

Веб-проєкт:
a)
	Сервер (сховище)				Клієнт (браузер)
	 HTML + CSS + JS	<---		пише адресу у браузері
	 [file(s)]		--->		файли приймаються і виконуються
б)
	Сервер (активний)				Клієнт (браузер)
	 CS (Sharp)		<---		пише адресу у браузері
	 формує HTML		--->		дані приймаються (і, можливо виконуються)

https://localhost:7047/ localhost - спеціальне ім'я, яке показує на данний ПК (петля)
Запит потрапляє до ASP - до маршрутизатора (визначеного у Program.cs)
	pattern: "{controller=Home}/{action=Index}/{id?}");
згідно з шаблоном, щапит розподіляється на 3 частини, відокремленні "/"
	controller / action / id
якщо якоїсь частини	немає, то береться значення за замовченням
	базовий запит "/" -- controller = Home, action = Index, id = null

ASP формує ім'я контроллера з'єднуючи "Home" та "Controller" і шукає відповідний
у каталозі "Controllers" - знаходить його, створює з нього об'єкт та намагається
запустити у ньому метод, який відповідає за назвою "action", тобто "Index"

Контроллер викликає View(), що означає перехід до представлення.
Воно шукається у каталозі Views|[controller]/[action].cshtml
тобто Views/Home/Index.cshtml
Якщо не знаходить, то намагається шукати к каталозі Shared
тобто Views/Shared/Index.cshtml

Цуей файл "вставляється" до файлу-шаблону представлень
	Views/Shared_Layout.cshtml
у місце, в якому знахродиться команда
	&commat;RenderBody()
</pre>
