@{
    ViewData["Title"] = "Razor";
}

<div>
    <h1 class="display-4">Синтаксис Razor</h1>
</div>

<p>
    Синтаксис Razor використовується для розширення можливостей HTML
</p>
<ul>
    <li>використання змінних та виразів </li>
    <li>умовні блоки (умовна верстка) </li>
    <li>циклічна верстка</li>
</ul>

<p>
    Основу складає символ <code>&commat;</code>
    що обмежує використання цього симаолу у HTML
    замість нього вживається сутність <code>&amp;commat;</code>
</p>

<h3>Вирази</h3>
<p>
    Результати варазів відображаються інструкцією 
    <code>&commat;(2 + 2)=@(2 + 2)</code>
</p>    