@{
    ViewData["Title"] = "Вступ";
}

<div class="page-url">
    <h1 class="display-4">Структура URL</h1>
    <img src="/img/url.png" alt="url"></img>
</div>

<p>
    <b>URL (Uniform Resource Locator)</b> — це адреса, присвоєна унікальному ресурсу в інтернеті,
    будь то HTML-сторінка, CSS-файл або зображення. Теоретично, кожен URL веде на унікальний ресурс. 
    На практиці бувають винятки: ресурс може бути вилучений або переміщений. 
    Веб-сервер обробляє URL та пов'язаний з ним ресурс, тому власники сайтів 
    повинні ретельно стежити за їх розміщенням та пов'язаними з ними URL.
</p>

<h2>URL складається з таких частин:</h2>
<ul>
    <li>
        <b>scheme</b>: протокол, що використовується (наприклад, http або https).</li>
    <li>
        <b>username:password</b>: Сайти, на яких використовується базова схема аутентифікації,
        дозволяють при аутентифікації вставляти ваше ім'я користувача та пароль прямо в URL. 
        Така практика вважається дуже небезпечною, тому не так багато веб-сайтів, де вона підтримується.</li>
    <li>
        <b>host</b>: Це домен або IP-адреса, до якої потрібно підключитися (наприклад, google.com або 127.0.0.1).</li>
    <li>
        <b>port</b>: порт нагадує номер абонентської скриньки, і за цим номером можна зв'язатися з хостом. Якщо такого порту немає,
        то за умовчанням у такій схемі використовується 80 для http та 443 для https).</li>
    <li>
        <b>path</b>: це конкретна веб-сторінка на хості. Наприклад, шлях до оригіналу цієї статті - /posts/what-is-a-url.html</li>
    <li>
        <b>query</b>: це колекція параметрів, які зазвичай представлені у формі пар key=value, які об'єднуються знаком &.
        Вони використовуються для надсилання на сервер більш конкретної інформації.</li>
    <li>
        <b>fragment</b>: зазвичай використовується як якорь для переходу в конкретний розділ документа.
        Наприклад, саме до цього розділу можна перейти за посиланням #parts. Щоправда, зверніть увагу, 
        що сервер не бачить цього фрагмента. Він обробляється (чи ігнорується) саме за клієнта.</li>
</ul>